#chat-screen
{
    background-color: #abc1d1;
    height: 500vh;
}

#chat-screen .alt-header
{
    top: 10px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
    z-index: 1;
}

#chat-screen .status-bar
{    
    background-color: #abc1d1;
    z-index: 2;
}

.main-chat
{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fadedown
{
    0%
    {
        transform: translateY(-30%);
        opacity: 0;
    }

    100%
    {
        transform: none;
        opacity: 1;
    }
}

.chat__timestamp
{
    color: white;
    opacity: 0.7;
    background-color: #92a4b2;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 25px;

    margin-bottom: 25px;

    animation: fadedown 0.3s linear;
}

@keyframes fadeRight
{
    0%
    {
        transform: translateX(-10%);
        opacity: 0;
    }

    100%
    {
        transform: none;
        opacity: 1;
    }
}

.message-row
{
    width: 100%;
    display: flex;
    margin-bottom: 20px;

    animation: fadeRight 0.3s linear;
}

.message-row img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.message__author
{
    margin-bottom: 7px;
    display: block;
}

.message__info
{
    display: flex;
    align-items: flex-end;
    
    position: relative;
}

.message__bubble
{
    background-color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 12px;
    margin-right: 4px;
}

.message__time,
.message__author
{
    opacity: 0.6;
    font-size: 13px;
}

.message__bubble-tail
{
    position: absolute;

    bottom: 25px;
    right: 63px;
    background-color: white;
    padding: 6px;
    margin-left: 11px;
    border-bottom-left-radius: 12px;

    transform: rotateZ(15deg);
}


@keyframes fadeleft
{
    0%
    {
        transform: translateX(10%);
        opacity: 0;
    }

    100%
    {
        transform: none;
        opacity: 1;
    }
}


.message-row--own
{
    justify-content: flex-end;

    animation: fadeleft 0.3s linear;
}

.message-row--own .message__bubble,
.message-row--own .message__bubble-tail
{
    background-color: var(--yellow);
    margin-right: 0px;
}

.message-row--own .message__time
{
    margin-right: 5px;
}

.message-row--own .message__bubble-tail
{   
    position: absolute;

    bottom: 25px;
    right: 0px;
    background-color: var(--yellow);
    padding: 6px;
    margin-left: 11px;
    border-bottom-left-radius: 12px;

    transform: rotateZ(110deg);
}

.message-row--own .message__info
{
    position: relative;
    flex-direction: row-reverse;
}


.reply
{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 5px 25px;

    transition: transform 0.3s ease-in-out;
}

.reply .reply__column:first-child
{
    width: 10%;
}

.reply__column:last-child
{
    width: 90%;
    position: relative;
}

.reply input
{
    padding: 10px;
    width: 100%;

    border: var(--main-border);
    border-radius: 20px;

    transition: all 0.3s ease-in-out;
}


.reply__column:last-child > i
{
    position: absolute;
    right: 23px;
    top: 18px;
}

.reply__column button
{
    background-color: var(--yellow);
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    position: absolute;
    right: -20px;
    top: 2px
}

.reply__column button:focus,
.reply__column button:active
{
    outline: none;
}

.reply i:not(.fa-arrow-up) 
{
    opacity: 0.5;
}

.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button
{
    transition: opacity 0.3s ease-in-out;
}


.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button
{
    opacity: 0;
}

.reply input:focus
{
    width: 87vw;
    transform: translateX(-11%) translateY(-80px);
}

.reply:focus-within
{
    transform: translateY(80px);
}