.icon-row
{
    display: flex;
    justify-content: space-between;
}

.icon-row__icon
{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-row__icon span
{
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    display: block;
    width: 60%;
}

.icon-row__icon i
{
    font-size: 35px;
}

.icon-row__icon:nth-child(2) i
{
    position: relative;
}

.icon-row__red-dot
{
    position: absolute;
    left: 40px;
    bottom: 35px;

    background-color: tomato;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}